{{#each posts as |post|}}
    <div class="post">
        <a href="/post/{{post.id}}">
        <h3>{{post.title}}</h3>
        <p>Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
        <p>{{post.description}}</p>
        </a>
    </div>
{{/each}}
